bin/qorpse
bin/qorpse_dist
bin/*.log
obj/
src/kit
src/Qor
src/shaders
src/scripts
__pycache__/
*.make
Makefile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
